@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Righteous&family=Source+Code+Pro:wght@300&display=swap');
:root{
    --blue: #1E4E8C;
    --grey: #D6D7DC;
    --gold: #E4D094;
    --darkGold: #9B7E56;
    --black: #0A0A0C;
}

body{
    text-align: center;
    background-color: #a6a6a6;
    color: #4c1ab2;
    font-family: 'Tilt Prism', cursive;
    font-size: 25px;
}
#title{
    margin-bottom: -40px;
}
#btns{
    position: relative;
    display:flex;
    justify-content: center;
    margin-top: -20px;
} 
.button {
    width:65px;
    height: 55px;
    font-size: 10px;
    text-align: center;
    text-justify: center;
    /* margin-left: auto;
    margin-right: auto; */
    display: inline-block;
    background-color: #4c1ab2;
    border-color: black;
    color: aliceblue;
    border-radius: 50%;
}
.top{
    display: inline-flex;
}
.first, .second, .third, .fourth{
    width:220px;
}
.bottom{
    display: inline-flex;
}
h2{
    display:block;
    font-size: 35px;
}
.parent{
    position: relative;
    text-align: center;
    width: 610px;
    display: flex;
    margin-left: -10%;
   /* margin-right: 10%;*/
}
.drummer{
    width: 610px;
    position: relative;
    text-align: center;
}
.drumkit{
    position: absolute;
    width: 610px;
    top:0;
    left:0;
    text-align:center;
}
.armsUp{
    display: flex;
}
.floorTom{
    display: flex;
}
.legs{
    display:flex;
}
.kickDrum{
    display: flex;
}
.snare{
    display: flex;
}
.ride{
    display: flex;
}
.hiHat{
    display: flex;
}
.hitHiHat{
    display:none
}
.hitSnare{
    display:none
}
.clap{
    display:none
}
.kick{
    display:none
}
.tink{
    display:none
}
.boom{
    display:none
}
.hitTom{
    display:none
}
.hitRide{
    display:none
}
.nothing{
    display:none
}
map{
    z-index: 999;
}
/*------FOOTER-------*/
footer{
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
}
.footer p{
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 12px;
}
.github{
    text-decoration: none;
    color: var(--darkGold);
}
footer a:hover{
    color: var(--black);
}

/*------MEDIA QUERIES-------*/
@media screen and (max-width: 1028px){
    .first, .second, .third, .fourth{
        display:inline-block;
    };
    .top, .bottom{
        display: inline-block;
    }
    #btns{
        display:block;
    }
}
/*@media screen and (min-width: 800px){
    .parent{
        margin-left: 20%;
    }
}
@media screen and (min-width: 950px){
    .parent{
        margin-left: 25%;
    }
}
@media screen and (min-width: 1000px){
    .parent{
        margin-left: 30%;
    }
}
@media screen and (min-width: 1150px){
    .parent{
        margin-left: 35%;
    }
}
@media screen and (min-width: 1280px){
    .parent{
        margin-left: 38%;
    }
}*/
